{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "overrides": [
    {
      "files": [
        "**/src/*.js",
        "**/src/*.ts",
        "**/src/*.jsx",
        "**/src/*.tsx",
        "**/tests/*.js",
        "**/tests/*.ts"
      ],
      "parser": "babel-eslint"
    }
  ],
  "ignorePatterns": ["dist"],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:node/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "prettier",
    "prettier/babel",
    "plugin:prettier/recommended"
  ],
  "plugins": ["node"],
  "rules": {
    "sort-imports": 1,
    "node/no-unsupported-features/es-syntax": 0,
    "node/no-unsupported-features/es-builtins": 0,
    "node/no-extraneous-import": [
      "error",
      {
        "allowModules": ["@jest/globals"]
      }
    ]
  }
}
